/* ヘッダー */
header {
    display: flex;
    justify-content: space-between;
    padding: 45px 10px 45px 38px;
    height: 125px;
    align-items: center;
}

.header-nav__wrap {
    display: flex;
    justify-content: space-around;
    width: 34vw;
    align-items: center;
}

.header-nav__img-tel {
    width: 8vw;
    height: 40px;
}

.header-reservation__btn {
    width: 14vw;
    height: 60px;
    padding: 18px 20px;
    font-size: .7vw;
    font-family: "Noto Serif JP", serif;
    font-weight: bold;
    color: #fff;
    background-color: #B79B75;
}

.header-nav__img-menu {
    height: 80px;
}

/* first-view */
.fv {
    position: relative;
}

.fv-text__img {
    position: absolute;
    top: 14vw;
    left: 9vw;
}

.fv-img__img {
    width: 62vw;
    margin-left: auto;
}

/* intro */
.intro {
    position: relative;
    background-color: #f6f6f6;
    margin-top: -100px;
    z-index: -1;
    font-family: "Noto Serif JP", serif;
}

.intro-wrap {
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    max-width: 1560px;
    margin-left: auto;
    padding-top: 65px;
}

.intro__heading {
    width: 100%;
    padding: 120px 0 40px 0;
}

.intro-photo__box {
    width: 42vw;
    height: 530px;
    margin-left: -7vw;
    background-color: rgb(198, 239, 248);
}

.sec01-photo-sub {
    width: 13vw;
    height: 370px;
    margin-top: 16vw;
    background-color: rgb(198, 239, 248);
}

.intro-information {
    width: 28vw;
    padding: 20px;
}

.intro_information__img {
    width: 19vw;
    margin: 0 auto;
}

.intro-information__main-text {
    font-size: 1.2vw;
    text-align: center;
    margin: 30px 0;
}

.intro-btn,
.gallery-list__btn {
    display: block;
    width: 16vw;
    margin: 40px auto 0;
    padding: 18px 32px;
    color: #A88A63;
    font-size: .75vw;
    font-family: "Noto Serif JP", serif;
    font-weight: bold;
    border: 2px solid #B79B75;
}

.gallery-list__btn {
    margin: 120px auto;
}

/* gallery */
.gallery {
    position: relative;
    overflow: hidden;
}

.gallery-title {
    display: flex;
    margin: 100px auto 60px;
    align-items: center;
    width: 62vw;
}

.gallery-title__wrap {
    font-family: "Noto Serif JP", serif;
}

.gallery-title__heading {
    font-size: 3.5vw;
    font-weight: bold;
    letter-spacing: .25vw;
}

.gallery-title__text {
    display: flex;
    margin-top: 15px;
}

.gallery-title__text::before {
    display: inline-block;
    margin: 12px 30px;
    content: "";
    width: 7vw;
    border-top: 1px solid #000;
}

.gallery-card {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 45% 45%;
    grid-template-rows: 400px 400px;
    column-gap: 120px;
    row-gap: 120px;
}

.gallery-card__wrap {
    position: relative;
}

.gallery-card__wrap:nth-child(1) {
    margin-top: 60px;
}

.gallery-card__wrap:nth-child(3) {
    margin-top: 40px;
}

.gallery-card__img {
    width: 100%;
}

.gallery-card__number {
    position: absolute;
    top: 0;
    left: 40px;
    color: #fff;
    font-family: "Noto Serif JP", serif;
    font-size: 50px;
    font-weight: bold;
}

.gallery-card__text {
    margin-top: 20px;
}

.gallery-card__img-left {
    position: absolute;
    z-index: -10;
    top: -70px;
    right: 320px;
    max-width: 650px;
    height: 590px;
}

.gallery-card__img-right {
    position: absolute;
    z-index: -10;
    top: -160px;
    right: -380px;
    max-width: 700px;
    height: 700px;
}
